<div class="company_container">
    <div class="company_title">
        <h2>公司简介</h2>
    </div>
    <div id="box1" class="company_content">
        <p>Shanghai Fulland Pharmaceuticals Ltd (hereinafter referred to as Fulland Pharma), located in Shanghai China, has been a valued sourcing partner of various reputed pharmaceutical companies across the globe.</p>
        <p><strong>About us:</strong></p>
        <p>Fulland Pharma commenced its services in year 2008,with an offering of steriods intermediates.</p>
        <p>Fulland Pharma has grown with winning the trust of our esteemed partners by continuously striving to provide excellent and transparent support and services to our partners.</p>
        <p>Fulland Pharma helps and supports our existing and potential partners in achieving their business goals and desired growth, we aspire to offer a diverse range of products and services, to augment their efforts in achieving the excellence in line with highly dynamic and consistently changing pharmaceutical industry regulatory ,quality and environmental operating landscape.</p>
        <p><strong>Our Service:</strong></p>
        <p>Souring of API, Finished formulation and pharmaceutical intermediates by partnering with the best sources.
        We provide third party independent quality/regulatory audit to help in saving time and precious resources for our partners.
        We offer to support on additional services, such as impurity sourcing and preparation, documentation support on DMF/others filing, sourcing of precursor/ advance molecule for your R&D needs etc...
        Addressing the growing concerns of non-moving / slow moving inventories at our partners sites, we offer our support and services in liquidating the same at best possible realization of our partners.</p>
    </div>

     <div class="company_title">
        <h2>联系我们</h2>
    </div>
    <div class="company_content">
        <p>上海圃瑞国际贸易有限公司</p>
        <p>Shanghai Fulland Pharmaceuticals Ltd.</p>
        <p>地址：上海浦东新区浦东大道2742弄中环滨江大厦1号楼617室</p>
        <p>Address: Suite 617 Building No.1, Lane 2742 Pudong Avenue, Shanghai 200129,China</p>
        <p>T: 86-21-50432099</p>
        <p>F: 86-21-50432100</p>
        <p>E-mail: sammiqian@vip.163.com</p>
    </div>
</div>
