<%#公司简介%>
<div class="company_container">
    <div class="company_title">
        <h2>公司简介</h2>
    </div>
    <div class="company_content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis placeat quis ad odit culpa debitis minima, iure tenetur doloribus aspernatur et eos reiciendis sint hic maiores! Doloribus quam voluptatem, fugiat!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet numquam, sint fugiat! Quibusdam at, quo, nam rem reiciendis excepturi, nisi iusto voluptatibus consectetur incidunt debitis assumenda delectus vel nostrum consequatur.</p>
    </div>

</div>
