<div id="nav" class="clr">
    <div class="company_container">
        <ul>
            <li class="col-2"><%= link_to "网站首页", root_path %></li>
            <li class="col-2"><%= link_to "公司简介", intro_path %></li>
            <li class="col-2"><%= link_to "产品展示", sorts_path %></li>
            <li class="col-2"><%= link_to "在线订单", new_order_path %></li>
        </ul>
    </div>
</div>

<div class="header">
    <div class="container">
        <div id="logo" class="col-5"><img src="/assets/logo.jpg" alt="Icon" /></div>
        <div class="col-5"></div>
    </div>
</div>