<div id="sider" class="clr">
    <div class="admin_container col-2">
        <ul>
            <li><%= link_to "添加分类/产品", new_sort_path %></li>
            <li><%= link_to "订单处理", orders_path %></li>
        </ul>
    </div>
</div>